/*  styling goes here */
/* * {
    border: red 1px solid;
} */
body{
    background-color: #2D64CF;
    margin: 0;
}

header{
    background-color: #ff9900;
}

header h1 {
    color:#2D64CF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 5px;
    background-color: #2dcf32;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.nav-items {
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.nav-items a{
    text-decoration: none;
    color:#2D64CF;
    font-size: 1.5rem;
}

.nav-items a:hover{
    color: #ff9900;
    background-color:#2D64CF;
}